<app-header-list (documentCreated)="onDocumentCreated()" (filtersChanged)="applyFilters($event)"></app-header-list>
<div class="main-layout">
    <table>
        <thead>
            <tr>
                <th (click)="sortData('status')">
                    Statut
                    <span *ngIf="sortColumn === 'status'">
                        <span *ngIf="sortOrder === 'asc'">↑</span>
                        <span *ngIf="sortOrder === 'desc'">↓</span>
                    </span>
                </th>
                <th (click)="sortData('Date')">
                    Date
                    <span *ngIf="sortColumn === 'date'">
                        <span *ngIf="sortOrder === 'asc'">↑</span>
                        <span *ngIf="sortOrder === 'desc'">↓</span>
                    </span>
                </th>
                <th (click)="sortData('dev')">
                    Développeur
                    <span *ngIf="sortColumn === 'dev'">
                        <span *ngIf="sortOrder === 'asc'">↑</span>
                        <span *ngIf="sortOrder === 'desc'">↓</span>
                    </span>
                </th>
                <th (click)="sortData('title')">
                    Titre
                    <span *ngIf="sortColumn === 'title'">
                        <span *ngIf="sortOrder === 'asc'">↑</span>
                        <span *ngIf="sortOrder === 'desc'">↓</span>
                    </span>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doc of docs" (click)="openDocument(doc)">
                <td>
                    <span 
                    class="pastille"
                    [ngClass]="{
                      'bleu': doc.status === 'en attente de Chiffrage',
                      'rouge': doc.status === 'annulé',
                      'orange': doc.status === 'en cours',
                      'vert': doc.status === 'terminé',
                      'grise': doc.status === 'à faire' || doc.status === 'À faire'
                    }"></span>
                </td>
                <td>{{ doc.date | date:'shortDate' }}</td>
                <td>{{ doc.dev }}</td>
                <td [routerLink]="['/docs', doc._id]">{{ doc.title }}</td>

                <td>
                    <button mat-icon-button color="warn" (click)="confirmDelete(doc, $event)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
                
            </tr>
        </tbody>
    </table>

    
<div class="pagination-controls">
  <button mat-button (click)="previousPage()" [disabled]="currentPage === 1">
    Page précédente
  </button>
  <span>Page {{ currentPage }} sur {{ totalPages }}</span>
  <button mat-button (click)="nextPage()" [disabled]="currentPage === totalPages">
    Page suivante
  </button>
</div>

</div>
